合計 36
drwxr-xr-x 5 dai dai 4096  7月 24 12:28 [0m[01;34m.[0m/
drwxr-xr-x 3 dai dai 4096  7月 24 12:21 [01;34m..[0m/
drwxr-xr-x 8 dai dai 4096  7月 24 12:28 [01;34m.git[0m/
-rw-r--r-- 1 dai dai    0  7月 24 12:28 .gitignore
-rw-r--r-- 1 dai dai  130  7月 24 12:28 .gitmodules
-rw-r--r-- 1 dai dai   92  7月 12 11:17 chef-solo.rb
-rw-r--r-- 1 dai dai 1232  7月 13 11:03 cloudstack-host.json
-rw-r--r-- 1 dai dai 1011  7月 13 10:42 cloudstack-manager.json
drwxr-xr-x 4 dai dai 4096  7月 13 10:53 [01;34mcookbooks[0m/
drwxr-xr-x 3 dai dai 4096  7月 24 12:28 [01;34mopscode-cookbooks[0m/
::::::::::::::
chef-solo.rb
::::::::::::::
file_cache_path "/tmp"
cookbook_path [ "/home/cf/opscode-cookbooks", "/home/cf/cookbooks" ]
